.navbar {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    width: 150px;
}
.navbar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
}
.navbar-right {
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar-button {
    background: transparent;
    border: 1px solid tomato;
    padding:  10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s ease;
}
.navbar-button:hover {
    background-color: #fff4f2;
}
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-search-icon{
    position: relative;
    cursor: pointer;
}
.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    top: -8px;
    right: -8px;
    background-color: tomato;
    border-radius: 7px;
}
.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
       position: absolute;
       right: 0;
       z-index: 1;
       text-align: center;
       display: none;
}
.nav-profile-dropdown li{
     display: flex;
     align-items: center;
     gap: 10px;
     cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 25px;
    background-color: #fff2ef;
    border: 1px solid tomato;
    border-radius: 4px;
    list-style: none;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}
@media (max-width:1050px){
   .navbar .logo{
    width: 140px;
   }
   .navbar-menu{
    gap: 20px;
    font-size: 16px;
   }
   .navbar-right{
    gap: 30px;
   }
   .navbar-right img {
    width: 22px;
   }
   .navbar-right button {
    padding: 8px 25px;
   }
}

@media (max-width: 900px){
   .navbar .logo{
    width: 120px;
   }
   .navbar-menu{
    gap: 20px;
    font-size: 16px;
   }
   .navbar-right{
    gap: 20px;
   }
   .navbar-right img {
    width: 20px;
   }
   .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
   }
}

@media (max-width: 750px){

   .navbar-menu{
     display: none;
   }
  
}