.app-download {
    font-weight: 500;
    margin: auto auto;
    margin-top: 100px;
    text-align: center;
    font-size: max(3vw,20px);
}
.app-download-platform{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.app-download-platform img {
    width: max(30vw, 120px);
    max-width: 180px;
    transition: 0.6s;
    cursor: pointer;
}

.app-download-platform img:hover {
  transform: scale(1.06) ;
}