.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: 30px;
    font-weight: 600;
}
.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 30px;
    row-gap: 50px;
    margin-top: 33px;
    margin-right: 60px;
}